<!-- TODO: make it a reusable directive (don't worry about style) -->
<div class="pagination" ng-if="tableParams.totalItens > 0">
    <div>
        Items per page
        <select ng-options="option.value as option.text for option in pageSizes" ng-model="tableParams.pageSize" ng-change="getData()"></select>
    </div>
    <div>
        <button ng-disabled="!tableParams.hasPrevious" ng-click="changePage(1)">&lt;&lt;</button> <!-- 'go to first page' button -->
        <button ng-disabled="!tableParams.hasPrevious" ng-click="changePage(tableParams.currentPage - 1)">&lt;</button> <!-- 'go to previous page' button: can't go lower than 1 -->
        Page <input type="number" ng-disabled="tableParams.totalPages <= 1" value="1" min="1" step="1" max="{{tableParams.totalPages}}" ng-model="tableParams.currentPage" ng-change="getData()" /> <!-- input to select page to go to: go to page when input changes value --> of {{tableParams.totalPages}} <!-- number of pages -->

        <button ng-disabled="!tableParams.hasNext" ng-click="changePage(tableParams.currentPage + 1)">&gt;</button> <!-- 'go to next page' button: can't go higher than last page number -->
        <button ng-disabled="!tableParams.hasNext" ng-click="changePage(tableParams.totalPages)">&gt;&gt;</button> <!-- 'go to last page' button -->
    </div>
    <div>
        <span>{{tableParams.totalItens}} items</span> <!-- total number of items -->
    </div>

</div>